@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body {

}
header {
    text-align: center;
}
p {
    padding: 0px;
}
ul,li {
    margin-top: 15px;
    margin-right: 20px;
    list-style-type: none;
    display: inline-block;
    font-size: 22px;
}
h1 {

    margin: 10px 0;
}
h2 {
    font-size:20px;
    padding: 10px;
}
th {
    padding-left: 10px;
    width:150px;
    font-size:15px;
    vertical-align: top;
    text-align: left;
}

td {
    padding: 0px 0 25px 0;
    font-size:15px;
    text-align: left;
    vertical-align: top;
}


#social {
    background: #2d2d2d;
    height:30px;
    padding: 0 2px 0 0;
    border-top: 2px solid #0099cc;
    text-align: right;
}

#logo{
    height: 70px;
    margin-top: 10px;
    margin-left:100px;
    float: left;
}
#navi{
    height: 80px;
    float:right;
}


#contents {
    width: 800px;
    margin: auto;
    background: #F2EEE8 url("../images/background.png") ;
    clear: left;
}

#footer {
    padding: 10px;
    text-align: center;
}
