@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body {

}
a:link{
color:black;
text-decoration: none;
}
a:visited{
text-decoration: none;
}

header {
    text-align: center;
}
#social {
    background: #2d2d2d;
    height:30px;
    padding: 0 2px 0 0;
    border-top: 2px solid #0099cc;
    text-align: right;
}

#logo{
    height: 70px;
    margin-top: 10px;
    margin-left:100px;
    float: left;
}
#navi{
    height: 80px;
    float:right;
}

#navi ul{
    margin-top: 15px;
    margin-right: 50px;
    list-style-type: none;

}
#navi li{
    margin-top: 15px;
    margin-right: 20px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}
#navi li:hover{
  border-bottom: 2px dotted black;
}


#contents{
  width: 80%;
  margin: auto;
  padding: 10px;
  clear: left;
  text-align: center;
}

a:hover img{
opacity:0.8;
filter:alpha(opacity=80);
-ms-filter: "alpha( opacity=80 )";
}


table{
  width: 550px;
  margin: auto;
}

tr{
  width: 100px;
  text-align: center;
}
td{
  font-size: 5px;
}

p {
    padding: 2px;
}

footer {
    padding-top: 3%;
    text-align: center;
}
